<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/yang.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Shangrong Yang 杨尚蓉
			</h3>
			<p>
			 I am pursuing the Ph.D. degree at Beijing Jiaotong University (<a href="https://bjtu.edu.cn/">BJTU</a>) in <a href="http://mepro.bjtu.edu.cn/researcher.html"> MePro</a> (led by Prof. <a href="http://faculty.bjtu.edu.cn/5900/">Yao Zhao</a>), advised by Prof. <a href="http://faculty.bjtu.edu.cn/8549/">Chunyu Lin</a>. 
			 Prior to that, I received my Bachelor degree at <i>Computer Science and Technology</i> from BJTU.
		        </p>
		        <p>
			 I was born and raised in <a href="https://baike.baidu.com/item/%E8%B4%B5%E6%B8%AF%E5%B8%82?fromtitle=%E8%B4%B5%E6%B8%AF&fromid=1072425&fromModule=lemma_search-box">Guigang</a>, a picturesque city with colorful culture in China.	
			</p>
			<p>
			
			<h3>
			Research Interests 
			</h3> 
			My research interest lies at the intersection of Computer Vision and Deep Learning. In particular, my work focuses on low-level vision, including: image generation/restoration/enhancement, video processing, distortion rectification, inpainting and outpainting, object detection and tracking, etc.
		        I am also interested in vision transformer and diffsuion.
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{kangliao@bjtu.edu.cn}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			{% if site.website_zhihu %}
				 <a href="https://www.zhihu.com/people/liao-zi-61" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_zhihu}}</a>
			{% endif %}		
 			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	                {% if site.website_google %}
				 <a href="https://scholar.google.com/citations?user=YmmfEBwAAAAJ&hl=zh-CN" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}</a>
			{% endif %}
			
	</div>
</div>
